strong {
  color: var(--main);
}
.pageLink {
  font-size: 1.2em;
}
.pageLink:after {
  content: ' \2192';
}
.fabricInfo {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main);
}
