.project .info {
  margin-bottom: 0.8rem;
}
.project .projectSkills {
  color: var(--gray);
  text-align: left;
}
.project .projectSkills span {
  font-weight: bold;
}

.project .description {
  margin-bottom: 0.8rem;
}
