.project .info {
  margin-bottom: 10px;
}
.project .info p {
  margin-bottom: 0;
}
.project .projectSkills {
  color: var(--gray);
  text-align: left;
}
.project .projectSkills span {
  font-weight: bold;
}
