@import '../../styles/_mixins.scss';
@import '../../styles/_colors.scss';

.favoriteProjects {
  margin-top: 20px;
  h2 {
    font-size: 170%;
    margin-bottom: 15px;
    border-bottom: 1px solid $text;
  }
  .languagesUsed {
    font-size: 130%;
    span {
      font-size: 80%;
      font-weight: bold;
      color: lighten($text, 5%);
    }
  }
}
