.scrubbySet:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main);
}
.title {
  display: none;
  font-size: 1.5em;
  text-align: left;
  color: var(--main);
}
p.description {
  margin-bottom: 0;
}
@media screen and (max-width: 499px) {
  .title.topTitle {
    display: block;
  }
  .title.midTitle {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .title.topTitle {
    display: none;
  }
  .title.midTitle {
    display: block;
  }
}
