.fabricSet:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main);
}
.title {
  display: none;
  font-size: 1.5em;
  text-align: left;
  color: var(--main);
}
.setImages {
  margin-right: 10px;
  max-width: 200px;
  float: left;
}
@media screen and (max-width: 450px) {
  .setImages {
    max-width: 150px;
  }
}
.stock {
  margin-bottom: 0;
  line-height: 1.1em;
}
.stock span.size {
  color: var(--accent);
}
.stock span.out {
  color: var(--lightGray);
}
@media screen and (max-width: 499px) {
  .title.topTitle {
    display: block;
  }
  .title.midTitle {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .title.topTitle {
    display: none;
  }
  .title.midTitle {
    display: block;
  }
}
