.background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.display {
  margin: 15% auto;
  padding: 2rem;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  box-shadow: none;
}
.totals {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid var(--main);
  text-align: right;
}
.totals p {
  text-align: right;
}
.totals p:last-child {
  border-top: 1px solid var(--main);
  padding-top: 0.5rem;
}
.totals button {
  margin-right: 0.5rem;
}
.actionButtons {
  margin-top: 1em;
  text-align: center;
}
.actionButtons button:not(:last-child) {
  margin-right: 10px;
}
