.card {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #e6e6e6;
  /* background-color: white; */
}
.card h3.bold {
  font-size: 1.7em;
  margin-bottom: 0.1em;
  color: var(--main);
}
.card h3.underline {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #23c2bd;
}
.card .subheader {
  margin-bottom: 0;
  font-weight: bold;
  color: var(--gray);
}
.card p:last-child {
  margin-bottom: 0px;
}
.card img {
  max-width: 100%;
}
.card .img {
  max-width: 300px;
  margin: 0 auto 10px auto;
}
@media screen and (min-width: 500px) {
  .card .img {
    display: inline;
    width: 200px;
    margin-right: 10px;
    float: left;
  }
}
